canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 8px;
}

.footer-item {
  padding: 8px;
}