canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 8px;
}

.footer-item {
  padding: 8px;
}

#score {
  color: ghostwhite;
  width: 210px;
  text-align: left;
}

#mouse-tracker {
  display: inline-flex;
  width: 210px;
}

#mouse-tracker div {
  padding-right: 2px;
}

#mouse-tracker span {
  padding: 0 2px;
}

.larger-coordinate {
  color: lightcoral;
}

.smaller-coordinate {
  color: yellowgreen;
}
