.fruit-pop-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.fruit-pop-header,
.fruit-pop-footer {
  padding: 12px 0px;
  width: 100%;
}

.fruit-pop-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fruit-pop-footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.fruit-pop-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  height: 320px;
}

.fruit-pop-cell-item {
  display: none;
  cursor: pointer;
}

.fruit-pop-cell-item.active {
  display: inline;
}

.fruit-pop-start-button {
  color: var(--color-purple);
}

.fruit-pop-score {
  display: flex;
  justify-content: center;
}

.fruit-pop-score-update {
  transition: 0.5s;
  width: 20px;
  padding-left: 8px;
}

.fruit-pop-score-update.plus {
  color: var(--color-purple);
}

.fruit-pop-score-update.minus {
  color: var(--color-white);
}

/* Mouse tracker */

.mouse-tracker {
  display: inline-flex;
}

.mouse-tracker div {
  padding-right: 2px;
}

.mouse-tracker span {
  padding: 0 2px;
}

.larger-coordinate {
  color: var(--color-coral);
}

.smaller-coordinate {
  color: var(--color-purple);
}
