@import "./common/common.css";
@import "./Home/Home.css";
@import "./BallDrop/BallDrop.css";
@import "./Sudoku/Sudoku.css";
@import "./Elevator/Elevator.css";
@import "./FruitPop/FruitPop.css";
@import "./DogJump/DogJump.css";
@import "./Lister/Lister.css";

:root {
  font-family: "Segoe UI", "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 1px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-white: ghostwhite;
  --color-black: #454544;
  --color-purple: #646cff;
  --color-coral: lightcoral;
  --color-overlay: rgba(2, 6, 23, 0.65);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px;
  margin: 0 8px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-white);
  letter-spacing: 1px;
}

button:hover {
  border-color: var(--color-purple);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#app {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to top,
    #242424,
    #403a44,
    #644f61,
    #8e6479,
    #bc798b,
    #d08391,
    #e48e96,
    #f79999,
    #f79999,
    #f79999,
    #f79999,
    #f79999
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
