.lister-container {
  padding: 32px;
}

.lister-container h1 {
  margin: 0;
  padding-bottom: 32px;
}

.lister-create-list-input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-purple);
  background: none;
  text-align: center;
  padding: 8px;
}

.lister-create-list-button {
  color: var(--color-purple);
}

.lister-input-error {
  height: 24px;
  padding: 8px 0;
}

.lister-items {
  height: 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.lister-items li {
  height: 24px;
}

.lister-delete-button svg {
  margin: -3px;
}

.lister-delete-button svg,
.lister-edit-title-button svg {
  height: 16px;
}

.lister-delete-button,
.lister-edit-title-button {
  padding: 0 8px;
}

.lister-delete-button:hover,
.lister-edit-title-button:hover {
  border-color: transparent;
}

.lister-new-item-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lister-new-item-input input {
  font-size: 32px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-purple);
  background: none;
  padding: 32px 0 8px;
  width: 200px;
}

.lister-footer {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.lister-edit-button {
  color: var(--color-coral);
}
